# Server Port Configuration
PORT=5000

# MongoDB Connection URI (Replace with your own Atlas or local string)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/voiceflow?retryWrites=true&w=majority
